# ------------------------
# Fichiers système
# ------------------------
.DS_Store
Thumbs.db
desktop.ini

# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.py[~]
*.swp
.env
.env.*
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.log

# ------------------------
# Docker
# ------------------------
docker-compose.override.yml
*.log
*.tmp
*.bak
*.swp

# ------------------------
# MongoDB
# ------------------------
dump/
*.bson
*.json
*.log
*.lock

# ------------------------
# IDEs et éditeurs
# ------------------------
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.code-workspace
*.iml

# ------------------------
# Node.js (si présent)
# ------------------------
node_modules/
npm-debug.log
yarn-error.log